<h1>Products Listing</h1>

<table>
  <% @products.each do |product| %>
    <!-- LESSON: cycle(x, y) -->
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(product.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><i><%= "Product ID: #{product.id}" %></i></dd>
          <dd><%= truncate(strip_tags(product.description), length: 120) %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <dl>
          <dd><%= link_to 'Show', product %></dd>
          <dd><%= link_to 'Edit', edit_product_path(product) %></dd>
          <dd><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></dd>
        </dl>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New product', new_product_path %>